@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Cinzel);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import 'https://fonts.googleapis.com/css?family=Playfair+Display|Slabo+27px|Trirong';


/*font-family: 'Slabo 27px', serif;
font-family: 'Playfair Display', serif;
font-family: 'Trirong', serif;*/
.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

section {
    display: block;
    float: left;
    position: relative;
    background: #fff;
    margin: 0;
    padding: 40px 20px;
    width: 100%;
}

a:hover {
  color: #EC11DC;
  cursor: pointer;
}

/*-----------------------------------
Navigation
-----------------------------------*/
.responsive-menu-inner, .responsive-menu-inner::before,
.responsive-menu-inner::after {
  background-color: #000 !important;
}
#responsive-menu-container{
  background: #212121 !important;
}

#responsive-menu-container li.responsive-menu-item a .responsive-menu-subarrow {
  right: 15px !important;
}

#responsive-menu-container #responsive-menu
li.responsive-menu-item .responsive-menu-item-link {
  font-family: 'Cinzel', sans-serif;
}

.responsive-menu-button {
  background: transparent !important;
}

#responsive-menu-container #responsive-menu-wrapper {
  padding-top: 55px !important;
  background: #212121 !important;
}

.main-navigation a {
  font-size: 2.7rem;
  padding-top: 10px;
  font-family: 'Cinzel', serif;
}
#logo {
  position: absolute;
  width: 52%;

}
#logo a {
  display: block;
  height: 100%;
  width: 100%;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  box-shadow: none;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  box-shadow: none;
}

.chand {
  width: 100%;
}

nav {
  text-align: center;
}

nav ul ul {
  display: none;
}

  nav ul li:hover > ul {
    display: block;
    background: #C3C3C3;
  }


nav ul {
  background: #efefef;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0 20px;
  border-radius: 10px;
  list-style: none;
  position: relative;
  display: inline-table;
  z-index: 99999;
}
  nav ul:after {
    content: ""; clear: both; display: block;
  }

  nav ul li {
    float: left;
  }
    nav ul li:hover {
      background: #fff;
    }
      nav ul li:hover a {
        color: #EC11DC;
      }

    nav ul li a {
      display: block; padding: 11px 40px;
      color: #757575; text-decoration: none;
    }


  nav ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
  }
    nav ul ul li {
      float: none;
      border-top: 1px solid ##EC11DC;
      border-bottom: 1px solid #EC11DC; position: relative;
    }
      nav ul ul li a {
        padding: 15px 40px;
        color: #fff;
      }
        nav ul ul li a:hover {
          background: #fff;
        }

  nav ul ul ul {
    position: absolute; left: 100%; top:0;
  }


/*-----------------------------------
Banner
-----------------------------------*/
.title-series {
  background: #000;
  opacity: 0.8;
}

#header i {
  text-align: center;
  font-size: 3.4rem;
  display: inline-block;
  padding: 13px;
  position: relative;
  cursor: pointer;
}

#header i:hover {
    color: #EC11DC;
}
.banner {
    min-height: 100vh;
    padding: 0;
}

.chand-swing {
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 2;
    position: absolute;
    width: 14%;
    z-index: 99999;
    margin-left: 25px;
}

#responsive-menu-container #responsive-menu
li.responsive-menu-item a
.responsive-menu-subarrow {
  border-left: none !important;
}

  .logo-wrap {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .main-logo {
    width: 50%;
  }

/*-----------------------------------
Featured Book Section
-----------------------------------*/
.feat-bk {
  box-shadow: 2px 2px 20px #000;
}
.featured-img h2 {
  color: #fff;
  text-shadow: 2px 2px 20px #000;
}

.fg-section-wrap {
  text-align: center;
  width: 100%;
  color: #000;
  background-image: url(../img/bk-gold1.png);
  background-size: initial;
}

.fg-book {
  z-index: 1;
}

.icon-wrap {
    position: absolute;
    top: 0;
    width: 91%;
    z-index: 0;
}

.subscribe-title {
    width: 100%;
    text-align: center;
    bottom: 0;
}

.subscribe-title h2 {
    padding-top: 40px;
    font-family: 'Cinzel', serif;
    font-size: 4.4rem;
    font-weight: 700;
}

.icons {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}
}

.icons img {
  width: 20%;
}
.left-icon {
  float: left;
}

.right-icon {
  float: right;
}


.book-wrap  {
  background-image: url(../img/book-bk.jpg);
  background-position: top center;
  background-size: cover;
  height: 100%;
}

.books {
  padding-bottom: 15px;
}

.books img:hover {
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.book-wrap h2 {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 5.2rem;
  font-weight: 700;
  text-shadow: 2px 2px 20px white;
  padding-bottom: 20px;
  padding-top: 130px;
}

.books img {
  box-shadow: 2px 2px 20px black;
}

#books .row .col-1-5 {
  padding: 9px 30px;
}

.book-ct {
  background: #000;
  padding: 20px;
  color: grey;
}

.book-ct p {
  width: 90%;
  margin: 0 auto;
  line-height: 1.2;
  font-family: 'Playfair Display', sans-serif;
}

.contact-sec {
  background-image: url(../img/contact-bk.jpg);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.contact-ct {
  text-align: center;
  background: #fff;
  opacity: 0.8;
}
.content {
  padding: 20px;
  font-size: 2.2rem;
  font-family: 'Cinzel', serif;
  opacity: 1;
  color: black;
  font-weight: 600;
}

.content h2 {
  padding: 20px 20px;
}

/*----------------------------
Hover Effect for Book images
------------------------------*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  box-shadow: 2px 2px 20px #000;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  width: 100%;
  height: 100%;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.overlay i {
  font-size: 2.4rem;
}

/*----------------------------
Book Information Pop Up
------------------------------*/
.bookInformation img {
  width: 30%;
}
.bookInformation h2 {
  color: #fff;
  font-family: 'Cinzel', sans-serif;
}

.bookInformation h2 {
  background: rgba(0, 0, 0, 0.7);
  padding: 0 10px;
}

.bookInformation a {
  font-size: 5.4rem;
  color: #fff;
  text-decoration: none;
}
.bookInformation a:hover {
  color: #FE56F6;
  text-decoration: none;
}

.bookInformation {
  background: #fff;
  box-shadow: inset 15px 4px 76px #000;
  font-size: 2.3rem;
  text-align: center;
}

.books {
  background-image: url(../img/bk-books.png);
  background-position: center center;
  background-size: cover;
  padding: 0;
}

#cboxTitle {
  display: none !important;
}

#cboxClose {
    top: 17px;
    right: 34px;
    background-image: url(../img/button_cancel.png);
    width: 44px;
    color: #fff;
    height: 44px;
    opacity: 1;
    position: absolute;
}

#cboxClose:hover {
  background-position: top center;

}

.card-wrap {
  width: 80%;
  margin: 0 auto;
}

.card-book {
  width: 30%;
}

section.book-wrap {
  padding: 200px 26px 20px 20px;
  box-shadow: 0px -8px 85px #000;
}

.featured-img-wrap {
  width: 100%;
  margin: 0 auto;
}

.featured-img {
    position: absolute;
    bottom: 0;
    top: 409px;
    z-index: 95;
    left: 0;
    right: 0;
    text-align: center;
}

/*----------------------------
Book Series
------------------------------*/

.book-series .container {
  position: relative;
  text-align: center;
}

.book-series h1 {
    display: block;
    text-align: center;
    margin-top: 40px;
    font-size: 4.4rem;
    font-family: 'Cinzel', sans-serif;
    color: #fff;
    margin: 0 auto;
    text-shadow: 2px 2px 9px #000;
    padding: 10px;
    margin-top: 24px;
}

.book-bk-wrap {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  opacity: 0.9;
  border: 4px solid white;
}

.bk-shadow {
  box-shadow: 2px 2px 20px #fff;
}

.content p {
  font-family: 'Playfair display', sans-serif;
}

font_4 h2:hover {
  cursor: pointer;
  color: #EC11DC;
}

.book-series.full {
  height: 100%;
}


/*----------------------------
Contact Form
------------------------------*/
.contact-form {
  background-image: url(../img/girl-left.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  text-align: center;
  padding: 100px;
}

.contact-form h2 {
  font-size: 5.4rem;
  color: #fff;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #f00fff;
    color: #fff;
}

label {
  color: #EC11DC;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-size: 1.75rem;
    border: 1px solid;
    border-color: #ff00f2 #ff00f2 #ff00f2;
    border-radius: 3px;
    background: #7b7b7b;
    box-shadow: none;
    color: #ffffff;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: none;
}

/*----------------------------
Footer
------------------------------*/
.footer-wrap  {
  width: 100%;
  text-align: center;
}
.footer-wrap h3 {
  font-family: 'Cinzel', serif;
  color: #fff;
}

/*----------------------------
Media Queries
------------------------------*/

@media only screen and (max-width:1280px) {

}

@media only screen and (max-width:1024px) {

  /* Columns */
  .row .col-1-5 {
    width: 33.33%;
    margin-bottom: 30px;
  }
  .row .col-1-5:nth-child(4n) {
    margin-left: 16.66%;
    margin-bottom: 0;
  }
  .row .col-1-5:nth-child(5n) {
    margin-bottom: 0;
  }

}

@media only screen and (max-width:900px) {
  #header {
    position: relative;
    padding: 0;
  }
  #logo {
    left: 30px;
  }
  #content {
    z-index: 10;
  }
  /* Mobile Nav Icon */
  #header nav #menu-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    margin: 0;
    padding: 10px 35px 10px 0px;
    cursor: pointer;
    visibility: visible;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
  }
  #menu-icon span,
  #menu-icon span:before,
  #menu-icon span:after {
    display: block;
    position: absolute;
    height: 4px;
    width: 35px;
    top: 0;
    background: #333;
    border-radius: 1px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    content: '';
  }
  #menu-icon span:before {
    top: 8px;
  }
  #menu-icon span:after {
    top: 16px;
  }
  #menu-icon.active span {
    background-color: transparent;
  }
  #menu-icon.active span:before,
  #menu-icon.active span:after {
    top: 8px;
    left: 0px;
  }
  #menu-icon.active span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-icon.active span:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* Mobile Nav Menu */
  nav#menu {
    float: none;
    margin: 0;
  }
  nav#menu ul {
    background: #ebebeb;
    display: none;
    overflow-x: hidden;
    position: relative;
    clear: both;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 80px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  nav#menu.active ul {
    display: block;
  }
  nav#menu ul li {
    float: none;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ddd;
  }
  nav#menu ul li:last-child {
    border-bottom: none;
  }
  nav#menu ul li > a, nav#menu ul li:last-child > a {
    display: block;
    line-height: 1.5;
    margin: 0;
    padding: 15px 30px;
    border: none;
  }
  /* Mobile Drop-Down Icons */
  nav#menu ul li.menu-item-has-children > a:after {
    position: absolute;
      font-size: 16px;
      top: 15px;
      right: 30px;
  }
  nav#menu ul li.menu-item-has-children > a:after,
  nav#menu ul li.menu-item-has-children:hover > a:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  nav#menu ul li.menu-item-has-children.active > a:after,
  nav#menu ul li.menu-item-has-children.active:hover > a:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  /* Mobile Sub-Menu's */
  nav#menu ul li.menu-item-has-children > ul.sub-menu,
  nav#menu ul li.menu-item-has-children > ul.sub-menu li {
    padding: 0;
    border: none;
  }
  nav#menu ul li.menu-item-has-children > ul.sub-menu,
  nav#menu ul li.menu-item-has-children:hover > ul.sub-menu {
    display: none;
    background: #f3f3f3;
    height: inherit;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  nav#menu ul li.menu-item-has-children.active > ul.sub-menu,
  nav#menu ul li.menu-item-has-children.active:hover > ul.sub-menu {
    display: block;
  }
  nav#menu ul li.menu-item-has-children > ul.sub-menu li a {
    font-size: 15px;
    padding: 6px 30px;
    border: none;
  }
  nav#menu-menu ul li.menu-item-has-children > ul.sub-menu li a:before {
    content: '- ';
  }

  /* Columns */
  .col-2-3,
  .col-1-3.single {
    width: 100% !important;
    margin-bottom: 30px !important;
  }
  .col-1-3.single ~ .col-2-3,
  .col-2-3 ~ .col-1-3 {
    width: 100% !important;
  }

  .chand-swing {
    width: 28% !important;
      z-index: 0 !important;
      margin-left: 6px !important;
  }

  article.full.top-home {
    height: 100vh;
  }

  .book-series.full {
    height: 100%;
    padding: 20px 0;
  }

  .responsive-menu-button {
    width: 40px;
    height: 40px;
    background: #fff !important;
    position: fixed;
    top: 10px;
    right: 5%;
  }

}
@media only screen and (max-width:768px) {
  /* Columns */
  .row .col-1, .row .col-1-2, .row .col-1-3, .row .col-2-3 {
    width: 100%;
    margin-bottom: 30px;
  }
  .row .col-1-4 {
    width: 50%;
    margin-bottom: 30px;
  }
  .row .col-1-4:nth-child(3n), .row .col-1-4:nth-child(4n) {
    margin-bottom: 0;
  }
  .row .col-3-4,
  /* .row .col-3-4 + .row .col-1-4, */
  .row .col-3-4 ~ .row .col-1-4,
  .row .col-1-4.singleCol {
    width: 100%;
    margin-bottom: 30px;
  }
  .row .col-1-5 {
    width: 50%;
    margin-bottom: 30px;
  }
  .row .col-1-5:nth-child(4n) {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .row .col-1-5:nth-child(5n) {
    margin-left: 25%;
  }
  .row .col-1:last-child, .row .col-1-2:last-child, .row .col-1-3:last-child, .row .col-2-3:last-child {
    margin-bottom: 0;
  }

  #responsive-menu-container {
    width: 100% !important;
  }

  .hovereffect {
      width: 60%;
      float: none;
      margin: 0 auto;
  }

  .contact-form {
    padding: 10px;
  }

  #cboxClose {
    top: 45px;
    right: 23px;
  }

  .contact-form h2 {
    padding-top: 60px;
  }

  .book-series h1 {
    font-size: 3.0rem;
  }

}
@media only screen and (max-width:600px) {
  /* Sections */
  section {
    padding: 40px 30px;
  }

  /* Columns */
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .row .col-1, .row .col-1-2, .row .col-2-3, .row .col-1-3, .row .col-1-4, .row .col-3-4 {
    padding: 0 !important;
  }
  .row .col-1-4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .row .col-1-5 {
    width: 100%;
    padding: 0 !important;
    margin-bottom: 30px;
  }
  .row .col-1-5:nth-child(4n) {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .row .col-1-5:nth-child(5n) {
    margin-left: 0;
  }
  .row .col-1-4:last-child, .row .col-1-5:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width:480px) {
  /* Columns */
  .row .col-1, .row .col-1-2, .row .col-1-3, .row .col-2-3, .row .col-1-4, .row .col-3-4, .row .col-1-5 {
    padding: 0;
  }
}
@media only screen and (max-width:320px) {

}